/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');


$font-family: "Lora", serif;
$font-family-serif: "Lora", serif;
$primary: #6164ba;

/*-- scss:rules --*/

kbd, .kbd{
  background-color: #6164ba !important;
}

.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}